<tr id="<%= dom_id blog %>">
  <td class="align-middle"><%= blog.title %></td>
  <td class="align-middle"><%= blog.content %></td>
  <td class="align-middle"><%= blog.author %></td>
  <td class="align-middle"><%= blog.created_at %></td>
  <td><%= link_to 'Show', blog, class: 'btn btn-outline-primary' %></td>
</tr>
